<div id="login2">
    <div class="container bar">
        <label class="floatLeft" for="navBtn"><span></span></label>
    </div>

    <div class="container">
        <input type="checkbox" class="navBtn" id="navBtn" />
        <nav>
            <div>
                <button id="pref">Preferences</button>
                <form id="menuContent" action="/../db/logout" method="post">
                    <button>Logout</button>
                </form>
            </div>
        </nav>
    </div>
</div>
