

<div id="search">

    <section class="searchProperties">
       
        <form id="product-search" action="/api/basicSearch" enctype="application/x-www-form-urlencoded">
            <input type="text" name="product" id="mySearch" placeholder="What are you looking for?">
            <button>Search</button>
        </form>
    
    </section>

</div>